.post-card {
  .content {
    button {
      color: white;
      padding: 5px 10px;
      border-radius: 30px;
      font-weight: 600;
    }
    h2 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
