li {
  list-style: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}
.min-h-screen {
  min-height: 100vh;
}

.btn {
  padding: 8px 15px;
  border: none;
  background-color: transparent;
}

.object {
  &-cover {
    object-fit: cover;
  }
  &-contain {
    object-fit: contain;
  }
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.br-full {
  border-radius: 50%;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.text {
  &-white {
    color: white;
  }
}

.border {
  &-box {
    box-sizing: border-box;
  }
}

.bg {
  &-no-repeat {
    background-repeat: no-repeat;
  }
  &-transparent {
    background-color: transparent;
  }
}

.border-0 {
  border: none;
}


.position {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
  &-fixed {
    position: fixed;
  }
  &-sticky {
    position: sticky;
  }
  &-static {
    position: static;
  }
}



.shadow {
  &-sm {
    box-shadow: var(--shadow-sm);
  }
}

.border {
  &-collapse {
    border-collapse: collapse;
  }
}











