

button{
  border: none;
  background-color: transparent;
}



@mixin gap ( $device){
  @for $i from 0 through 50{
    .#{$device}:\gap-x-#{$i}{
      column-gap: #{$i}px;
    }
    .gap-x-#{$i}{
      column-gap: #{$i}px;
    }
  }
}

@include gap (sm)